@media (max-width: 576px) {
	.header__heading {
		font-size: 2rem;
	}

	.game__circle {
		width: 250px;
		height: 250px;
	}

	.survey__label,
	.survey__input-info {
		font-size: 0.9rem;
	}

	.survey__input[type='range'] {
		margin-bottom: 0.5em;
	}

	.modal__content {
		width: 100%;
	}
}
